footer{
    width: calc(100% - (10px * 2));
    background-color: #ebebeb;
    color : #000;
    border-radius: 15px;
    padding: 10px;
    z-index: 99999;
    display: flex;
    flex-direction: column;

    margin-top: 30px;
    text-align: center;
}
footer p{
    padding: 5px 0;
}

#footer_sec_1{
    border: 1px solid #000;
}
#footer_sec_2{
    border: 1px solid #000;
}
#footer_sec_3{
    border: 1px solid #000;
}