.forsale{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    position: relative;
}
#book_title_sec p{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0.5em;
}
.book_title_sec_bottom{
    text-align: right;
}
#forsale_info_sec{
    padding-left: 5%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: calc(100% - 5%);
}
#purchase_sec{
    width: 100%;
    position: absolute;
    bottom: 0;
}
#purchase_sec button{
    width: calc((100% - 20px) / 4);
    height: 3em;
    font-size: 16px;
    border: 2px solid #303dd7;
    box-sizing: border-box; 
    background-color: transparent;
}
#purchase_sec button:nth-child(1){
    background-color: #303dd7;
    border: none;
    color: #fff;
}
#purchase_sec button:nth-child(2){
    background-color: #5566ff;
    border: none;
    color: #fff;
}
#purchase_sec button:nth-child(3){
    background-color: #8f9afa;
    border: none;
    color: #fff;
}
#purchase_sec button:nth-child(4){
    background-color: #bfc5f7;
    border: none;
    color: #fff;
}
.forsale p span:nth-child(1){
    font-size: 24px;
}
.retail_price{
    font-weight: 500;
    font-size: 30px;
}
#book_title_sec{
    box-sizing: border-box;
}
#book_info_sec{
    box-sizing: border-box;
    display: flex;
    margin-bottom: 60px;
}
#book_cover_img_sec{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#book_cover_img_sec{
    width: 50%;
    align-items: center
}
#book_cover_img_sec img{
    width: calc(100% - (10% * 2));
    margin  : 10%;
    border: 1px solid black;
    box-sizing: border-box;
}
.ebook_tf{
    font-size: 18px;
    font-weight: 800;
}
/* #book_cover_img_sec img::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 12px 3px rgba(0, 0, 0, 0.05);
} */
#preview_btn{
    width: 20%;
}
#calc_price{
    width: 100%;
    box-sizing: border-box;
    display: flex;
}
#calc_price input{
    width: 100%;
    height: 100%;
    font-size: 14px;
}
#total_count{
    font-size: 24px;
}
#total_count_txt,#price_value{
    margin-right: 1em;
    font-size: 24px;
}
#calc_price button{
    width: 10%;
    font-size: 20px;
    font-weight: 900;
    border: 2px solid #303dd7;
    background-color: transparent;
    cursor: pointer;
}
#plus_btn{
    margin: 0 10px;
    border: none;
    background-color: #303dd7 !important;
    color: #fff;
}
#total_price span:nth-child(1){
    font-size: 24px;
}
#book_basicInfo{
    margin-top: 60px;
}
#book_basicInfo,
#book_introduction{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.book_left{
    width: 20%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    box-sizing: border-box;
    background-color: rgb(242, 242, 242);
}
.book_left p{
    font-size: 24px;
    font-weight: 500;
    padding-top: 1em;
    padding-left: 1em;
    text-decoration: underline;
}
.book_right{
    width: 80%;
    border-right: 2px solid black; 
}
.book_right_p_sec{
    padding-top: 3em;
    padding-left: 1em;
    padding-bottom: 3em;
    padding-right: 1em;
}
.first_flex_box{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.lang p:nth-child(1),
.page p:nth-child(1),
.isbn p:nth-child(1),
.classification p:nth-child(1){
    font-size: 20px;
    font-weight: 900;
}
.lang span,
.page span,
.isbn span,
.classification span{
    padding-left: 1em;
}