*{margin : 0;padding : 0;}
#wrap{
    border: 3px solid #303dd7;
    border-radius: 15px;
    width: 500px;
    margin: 0 auto;
    margin-top: 10%;

    box-shadow: 3px 3px 3px #949dfe;
}
#logo{
    /* border : 1px solid blue; */
    box-sizing: border-box;
    width: 100%;
    height: 4em;
    margin-top: 20px;
}
#logo img{
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin: auto;
    display: block;
}

#loginform{
    /* border: 3px solid blue; */
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
#signInEmail, 
#signInPassword,
#signUpEmail, 
#signUpPassword{
    width: 100%;    
    height: 4em;
    margin: 0 auto;
    border-style: solid;
    border-color: #303dd7;
    box-sizing: border-box;
    outline: none;
}
#signInEmail, #signUpEmail{border-radius: 15px 15px 0px 0px; border-width: 1px 1px 0px 1px;padding-left: 20px;
}
#signInPassword, #signUpPassword{border-radius: 0px 0px 15px 15px; border-width: 1px 1px 1px 1px;padding-left: 20px;
}

#signInButton, #signUpButton{
    width: 100%;    
    height: 4em;
    margin-top: 20px;
    border-radius: 10px;
    border: none;

    background-color: #303dd7;
    color: #fff;

    cursor: pointer;
}
#signInButton span,
#signUpButton span
{
    font-weight: 700;
    font-size: 16px;
}
#keep_login_check{
    margin-top: 20px;
}
#keep_login_check span{
    

}
#search_id_pw_join{
    /* border: 1px solid red; */
    text-align: center;
    margin: 20px 0px;
    color: #000;
    
}
#search_id_pw_join a{
    text-decoration-line: none;
    color: #000;
}
#errMsg{
    display: none;
    margin-top: 1em;
    text-align: center;
    color: red;
    font-size: 14px;
}
#errMsg p span{
    font-weight: 900;
}

#loginform p{
    text-align: center;
    /* margin-bottom: 10px 0; */
    padding: 10px 0;
    font-family: "Borel", cursive;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    /* vertical-align: middle; */
}